<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>short2long</contextName>
    <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>
    <springProperty scope="context" name="NODE" source="sys-config.node"/>

    <property name="APPDIR" value="log"/>
    <springProperty scope="context" name="PROJECT" source="spring.application.name"/>
    <springProperty scope="context" name="ACTIVE" source="spring.profiles.active"/>

    <appender name="SYS_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${PROJECT}.${ACTIVE}.${NODE}.error.%i.%d{yyyyMMdd}</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10000MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyyMMdd}-%d{HH:mm:ss.SSS} -%5p ${NODE} ${PID} [%9.9t] %-30.30logger%4L : %m%n</pattern>
            <charset>GBK</charset>
        </encoder>
    </appender>

    <appender name="SYS_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${PROJECT}.${ACTIVE}.${NODE}.%i.%d{yyyyMMdd}</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10000MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyyMMdd}-%d{HH:mm:ss.SSS} -%5p ${NODE} ${PID} [%9.9t] %-30.30logger%4L : %m%n</pattern>
            <charset>GBK</charset>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyyMMdd}-%d{HH:mm:ss.SSS} -%5p ${NODE} ${PID} [%9.9t] %-30.30logger%4L : %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>trace</level>
        </filter>
    </appender>

    <logger name="org.apache.http" level="INFO"/>
    <logger name="com.apache.ibatis" level="INFO"/>
    <logger name="java.sql.Connection" level="INFO"/>
    <logger name="java.sql.Statement" level="INFO"/>
    <logger name="java.sql.PreparedStatement" level="INFO"/>
    <logger name="com.cnt.core.bean.mapper" level="INFO"/>

    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="SYS_INFO"/>
            <appender-ref ref="SYS_ERROR"/>
        </root>
    </springProfile>

    <springProfile name="dev1">
        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="SYS_INFO"/>
            <appender-ref ref="SYS_ERROR"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="SYS_INFO"/>
            <appender-ref ref="SYS_ERROR"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="SYS_INFO"/>
            <appender-ref ref="SYS_ERROR"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="SYS_INFO"/>
            <appender-ref ref="SYS_ERROR"/>
        </root>
    </springProfile>

</configuration>